@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
4. Menu
5. Home
6. Boxes
7. About
8. Testimonials
9. Gallery
10. Services
11. Blog
12. Footer


******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700');

/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}

p:last-of-type
{
	margin-bottom: 0;
}
a
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	background: rgba(249,140,0,0.75);
	color: #FFFFFF;
}
p::selection
{
	
}
h1{font-size: 48px;}
h2{font-size: 42px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	line-height: 1.2;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.trans_800
{
	-webkit-transition: all 800ms ease;
	-moz-transition: all 800ms ease;
	-ms-transition: all 800ms ease;
	-o-transition: all 800ms ease;
	transition: all 800ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.parallax_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.background_image
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.nopadding
{
	padding: 0px !important;
}
.button
{
	width: 190px;
	height: 43px;
	border-radius: 22px;
	background: #f98c00;
	box-shadow: 0 0 1px 0 #FFFFFF inset, 0 0 1px 0 #FFFFFF;
	text-align: center;
}
.button a
{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	line-height: 43px;
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	z-index: 1;
}
.button a::before
{
	position: absolute;
	left: 50%;
	top: 0;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 130px;
	height: 100%;
	content: '';
	background: #ff9711;
	border-radius: 22px;
	z-index: -1;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.button:hover a::before
{
	width: 100%;
}
.section_subtitle
{
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	color: #ff9711;
	line-height: 0.75;
}
.section_title
{
	font-size: 72px;
	font-weight: 400;
	color: #262626;
	line-height: 1.1;
	margin-top: 3px;
}
.section_title span
{
	font-weight: 600;
}
.rating i::before
{
	font-family: 'FontAwesome';
	content: "\f005";
	font-style: normal;
	margin-right: 4px;
	color: #e0cccd;
}
.rating_1 i:first-child::before{color: #fba40e;}
.rating_2 i:first-child::before{color: #fba40e;}
.rating_2 i:nth-child(2)::before{color: #fba40e;}
.rating_3 i:first-child::before{color: #fba40e;}
.rating_3 i:nth-child(2)::before{color: #fba40e;}
.rating_3 i:nth-child(3)::before{color: #fba40e;}
.rating_4 i:first-child::before{color: #fba40e;}
.rating_4 i:nth-child(2)::before{color: #fba40e;}
.rating_4 i:nth-child(3)::before{color: #fba40e;}
.rating_4 i:nth-child(4)::before{color: #fba40e;}
.rating_5 i:first-child::before{color: #fba40e;}
.rating_5 i:nth-child(2)::before{color: #fba40e;}
.rating_5 i:nth-child(3)::before{color: #fba40e;}
.rating_5 i:nth-child(4)::before{color: #fba40e;}
.rating_5 i:nth-child(5)::before{color: #fba40e;}


/*********************************
5. Home
*********************************/

.home
{
	width: 100%;
	height: 120vh;
	overflow: hidden;
}
.overlay
{
	position: absolute;
	left: 0;
	bottom: -270px;
	width: 120%;
	height: 270px;
	background: #FFFFFF;
	transform-origin: top left;
	transform: rotate(-8deg);
	z-index: 1;
	box-shadow: 0 0 1px 0 #FFFFFF inset, 0 0 1px 0 #FFFFFF;
}
.home_container
{
	position: absolute;
	left: 0;
	top: 30.61%;
	width: 100%;
}
.video_link
{
	display: inline-block;
	z-index: 1;
}
.video_icon
{
	width: 30px;
	height: 30px;
	background: #ff9711;
	border-radius: 50%;
	margin-right: 16px;
}
.video_icon i
{
	color: #FFFFFF;
	font-size: 10px;
}
.vimeo:focus
{
	outline: none;
}
.video_text
{
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.video_text:hover
{
	color: #ff9711;
}
.home_title
{
	font-size: 100px;
	font-weight: 200;
	color: #fff;
	line-height: 1.2;
	margin-top: -9px;
}
.home_subtitle
{
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	margin-top: -6px;
}
.home_button
{
	border: solid 1px #FFFFFF;
	margin-top: 44px;
}
.home_button a
{
	line-height: 41px;
}

/*********************************
6. Boxes
*********************************/

.boxes
{
	z-index: 1;
	margin-top: -250px;
}
.box
{
	width: calc(100% / 3);
	flex: 1; /* Ensure boxes take equal space in the row */
    min-width: 200px; /* Set a minimum width if needed */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%; /* Ensures equal height for each card */
}
.box:first-child
{
	/* background: #262626; */
	background: #ffb011;

}
.box:nth-child(2)
{
	/* background: #ffb011; */
	background: #ff8811;

}
.box:nth-child(3)
{
	background: #ff7011;
}
.box_icon
{
	width: 66px;
	height: 66px;
}
.box_icon img
{
	max-width: 100%;
}
.box_title
{
	font-size: 24px;
	font-weight: 400;
	color: #fff;
	line-height: 1.2;
	margin-top: 27px;
}
.box_text
{
	margin-top: 20px;
}
.box_text p
{
	color: #FFFFFF;
}

/*********************************
7. About
*********************************/

.about
{
	padding-top: 94px;
	 background: #FFFFFF;
}
.about_container
{
	z-index: 2;
}
.about_content
{
	-webkit-transform: translateY(28px);
	-moz-transform: translateY(28px);
	-ms-transform: translateY(28px);
	-o-transform: translateY(28px);
	transform: translateY(28px);
}
.about_background
{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	transform-origin: bottom right;
	-webkit-transform: rotate(-8deg);
	-moz-transform: rotate(-8deg);
	-ms-transform: rotate(-8deg);
	-o-transform: rotate(-8deg);
	transform: rotate(-8deg);
	background: #FFFFFF;
	z-index: 1;
}
.about_background::before
{
	position: absolute;
	top: 0;
	right: 0;
	width: 150%;
	height: 100%;
	background: #FFFFFF;
	content: '';
}
.about_overlay
{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 2200px;
	height: 558px;
	background: #FFFFFF;
	transform-origin: bottom right;
	-webkit-transform: rotate(-8deg);
	-moz-transform: rotate(-8deg);
	-ms-transform: rotate(-8deg);
	-o-transform: rotate(-8deg);
	transform: rotate(-8deg);
	z-index: 1;
	padding-right: 190px;
}
.text_highlight
{
	font-size: 16px;
	font-weight: 600;
	color: #535353;
	line-height: 1.75;
	margin-top: 35px;
}
.about_text
{
	margin-top: 28px;
}
.about_button
{
	margin-top: 50px;
}
.about_image
{
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	bottom: 0;
}

.about-icon{
	font-size: 1.7em;
	color: #6b6a6a;
	font-weight: 200;
}


/*********************************
10. Services
*********************************/

.services
{
	padding-top: 111px;
	padding-bottom: 14px;
	background: #FFFFFF;
}
.services_row
{
	margin-top: 87px;
}
.service_col:nth-last-child(n+4)
{
	margin-bottom: 79px;
}
.service_icon
{
	width: 62px;
	height: 62px;
}
.service_icon img
{
	max-width: 100%;
}
.service_title
{
	padding-left: 37px;
	font-size: 24px;
	font-weight: 400;
	color: #262626;
}
.service_text
{
	margin-top: 17px;
}

/*********************************
11. Blog
*********************************/

.blog
{
	padding-top: 314px;
	padding-bottom: 100px;
	overflow: hidden;
}
.blog_overlay
{
	position: absolute;
	top: -270px;
	right: 0;
	width: 130%;
	height: 270px;
	transform-origin: bottom right;
	-webkit-transform: rotate(-8deg);
	-moz-transform: rotate(-8deg);
	-ms-transform: rotate(-8deg);
	-o-transform: rotate(-8deg);
	transform: rotate(-8deg);
	background: #FFFFFF;
}
.blog .section_title
{
	color: #FFFFFF;
}
.all_posts_link a
{
	position: relative;
	font-size: 14px;
	font-weight: 600;
	color: #ff9711;
}
.all_posts_link a::after
{
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background: #ff9711;
	content: '';
}
.blog_row
{
	margin-top: 86px;
}
.blog_post_image
{
	width: 100%;
}
.blog_post_image img
{
	max-width: 100%;
}
.blog_post_title
{
	margin-top: 20px;
}
.blog_post_title a
{
	font-size: 24px;
	font-weight: 400;
	color: #FFFFFF;
	line-height: 1.1;
}
.blog_post_title a:hover
{
	color: #ff9711;
}
.blog_post_date
{
	margin-top: 4px;
}
.blog_post_date a
{
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	color: #ff9711;
}
.blog_post_text
{
	margin-top: 22px;
}
.blog_post_text p
{
	color: #a8a8a8;
}
.blog_post_link
{
	margin-top: 36px;
}
.blog_post_link a
{
	font-size: 12px;
	font-weight: 400;
	color: #ff9711;
}


/*********************************
8. Extra
*********************************/

.extra
{
	padding-top: 106px;
	padding-bottom: 134px;
}
.extra_content
{
	padding-left: 40px;
	padding-right: 40px;
}
.extra_title
{
	font-family: 'Allerta Stencil', sans-serif;
	font-size: 60px;
	color: #FFFFFF;
	line-height: 1.1;
}
.extra_text
{
	text-align: center;
}
.extra_text p
{
	color: #FFFFFF;
	font-weight: 600;
}
.extra_button
{
	border: solid 1px #FFFFFF;
	margin-top: 47px;
}


/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.about {
	padding-top: 100px;
  }
  
  .about .content h3 {
	font-size: 16px;
	font-weight: 500;
	line-height: 19px;
	padding: 10px 20px;
	background: color-mix(in srgb, var(--accent-color), transparent 95%);
	color: var(--accent-color);
	border-radius: 7px;
	display: inline-block;
  }
  
  .about .content h2 {
	font-weight: 700;
  }
  
  .about .content p:last-child {
	margin-bottom: 0;
  }
  
  .about .content .read-more {
	background: var(--accent-color);
	color: var(--contrast-color);
	font-family: var(--heading-font);
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 1px;
	padding: 12px 24px;
	border-radius: 5px;
	transition: 0.3s;
	display: inline-flex;
	align-items: center;
	justify-content: center;
  }
  
  .about .content .read-more i {
	font-size: 18px;
	margin-left: 5px;
	line-height: 0;
	transition: 0.3s;
  }
  
  .about .content .read-more:hover {
	background: color-mix(in srgb, var(--accent-color), transparent 20%);
	padding-right: 19px;
  }
  
  .about .content .read-more:hover i {
	margin-left: 10px;
  }
  
  .about .icon-box {
	background-color: var(--surface-color);
	padding: 50px 40px;
	box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	transition: all 0.3s ease-out 0s;
  }
  
  .about .icon-box i {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 24px;
	font-size: 32px;
	line-height: 0;
	transition: all 0.4s ease-out 0s;
	background-color: color-mix(in srgb, var(--accent-color), transparent 95%);
	color: var(--accent-color);
  }
  
  .about .icon-box h3 {
	margin-bottom: 10px;
	font-size: 24px;
	font-weight: 700;
  }
  
  .about .icon-box p {
	margin-bottom: 0;
  }
  
  .about .icon-box:hover i {
	background-color: var(--accent-color);
	color: var(--contrast-color);
  }
  
  .about .icon-boxes .col-md-6:nth-child(2) .icon-box,
  .about .icon-boxes .col-md-6:nth-child(4) .icon-box {
	margin-top: -40px;
  }
  
  @media (max-width: 768px) {
  
	.about .icon-boxes .col-md-6:nth-child(2) .icon-box,
	.about .icon-boxes .col-md-6:nth-child(4) .icon-box {
	  margin-top: 0;
	}
  }
  

  .fitness-highlight{
    background-color: #ff9711;
    height: 4px;
    margin-top: -12px;
   }
  
   .fitness-highlight-btn{
    background-color: #ff9711;
    height: 4px;
   }

   /*********************************
8. Technology
*********************************/

.testimonials
{
	padding-top: 316px;
	padding-bottom: 100px;
}
.testimonials .section_title
{
	color: #fff;
}
.test:not(:last-child)
{
	margin-bottom: 82px;
}
.test_image
{
	width: 53px;
	height: 53px;
	border-radius: 50%;
	overflow: hidden;
}
.test_content
{
	padding-left: 40px;
}
.test_1
{
	margin-top: 137px;
}
.test_name
{
	margin-top: 3px;
}
.test_name a
{
	font-size: 20px;
	font-weight: 300;
	color: #FFFFFF;
}
.test_name a:hover
{
	color: #ff9711;
}
.test_title
{
	font-size: 12px;
	font-weight: 600;
	color: #ff9711;
	line-height: 0.75;
	text-transform: uppercase;
	margin-top: 9px;
}
.test_text
{
	margin-top: 27px;
}
.test_text p
{
	font-style: italic;
	color: #a8a8a8;
}
.test_rating
{
	margin-top: 14px;
}
.rating i::before
{
	font-size: 10px;
	margin-right: 4px;
}
.test_button_row
{
	margin-top: 72px;
}
.test_button
{
	display: inline-block;
	box-shadow: 0 0 1px 0 #f98c00 inset, 0 0 1px 0 #f98c00;
}

.testimonials .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #f98c00;
  }

  .technology-bg {
	background-color: #fef5e8;
	/* height: 50px; */
  }